<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js Test</title>
</head>
<body>
    <form action="/form_post" method="post">
    <div class="container">
        <div class="form_content">
            <div class="form_item id" id="divId">
                <input type="id" id="id" name="id" placeholder="아이디" class="input" value="" maxlength="100">
            </div>
            <div class="form_item pass" id="divPass">
                <input type="pass" id="pass" name="pass" placeholder="비밀번호" class="input" value="" maxlength="100">
            </div>
            <div class="form_item name" id="divName">
                <input type="name" id="name" name="name" placeholder="이름" class="input" value="" maxlength="100">
            </div>
            <div class="form_item email" id="divEmail">
                <input type="email" id="email" name="email" placeholder="이메일" class="input" value="" maxlength="100">
            </div>
            <div>
                <input type="submit" value ='입력'>
            </div>
        </div>
    <div>
    </form>
</body>
</html>