<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.js Test</title>
</head>
<body>
    <form action="/join/form_post" method="post">
    <div class="container">
        <div class="form_content">
            <div>
                <input type="text" id="id" name="id" placeholder="아이디" class="input" maxlength="100">
            </div>
            <div>
                <input type="text" id="pass" name="pass" placeholder="비밀번호" class="input" maxlength="100">
            </div>
            <div>
                <input type="submit" value ='입력'>
            </div>
        </div>
    <div>
    </form>
</body>
</html>